.forgotPasswordBox {
  width: 350px;
  margin-top: 150px;
  padding: 25px;

  align-self: center;
  text-align: center;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(24, 71, 226);
}

.findButton {
  width: 75px;
}

.cancelButton {
  margin-right: 15px;
}
